.clj-kondo
.lsp
.vscode
templates
scripts

# Soluções que quero deixar como rascunho

# Problema 1053 - Desenho Contínuo
problemas/grafos/1053/1053.c
problemas/grafos/1053/1053.cs
problemas/grafos/1053/1053.py